{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit quote - id={{ quote['id'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>{{ quote['message_id'] }}</div>

    <div>{{ request.form['message_id'] }}</div>

    <form method="post">
        <label for="message_id">message_id</label>
        <input name="message_id" id="message_id"
               value="{{ quote['message_id'] if quote['message_id'] != 'None' else '' }}">
        <label for="text">Text</label>
        <textarea name="text" id="text" required>{{ request.form['text'] or quote['text'] }}</textarea>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('quote.delete', id=quote['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
